.project-tiles-container{
	display: flex;
	flex-wrap: wrap;

	.tile-container{
		width: 45%;
		height: 100%;
		margin: 2rem auto;
		position: relative;

		h4, h5, button {
			opacity: 0;
			position: absolute;
			width: 100%;
			text-align: center;
			
			transition: 0.5s ease;
		}

		h4 {
			top: 40%; 
			transform: translateY(-100%);	
		}
		h5 {
			bottom: 40%; 
			transform: translateY(100%);	
		}
		button {
			top: 80%; 
		}
		img {
			width: 100%;
			transition: 0.5s ease;
		}

		&:hover {
			img {
				opacity: 0.25;
			}
			
			h4, h5, button {
				opacity: 1;
				transform: translateY(0)
			}

			cursor: pointer;
		}
		
	}
}