html {
	font-family: 'Roboto', sans-serif;
	min-width: 360px;
	font-size: 16px;
	// background-color: rgba(6, 5, 48, 0.548);
	// color: rgb(226, 226, 226);
	background: var(--lightBg);
	color: var(--lightColor);
	--lightBtn: #FE016C;
	--lightBg: #fff;
	--lightColor: #232323;
}

html[data-theme='dark'] {
	background: var(--lightBg);
	 --lightBtn: #FFBD07;
	 --lightBg: #232323;
	 --lightColor: #fff;
 }

header {
	height: $header-height;
}

main {
	min-height: calc(100vh - #{$header-height} - #{$footer-height})
}

footer {
	text-align: center;
	padding: 0.5rem;
}

.page-container {
	max-width: 1280px;
	margin: 0 auto;
	// padding: 0 rem-calc(50);

	h2 {
		margin-bottom: 1rem;
		font-size: 2.5rem;
		font-weight: bold;

		@media only screen and (max-width: 768px) {
			text-align: center;
			font-size: 2rem;
		}
	}

	h3 {
		font-size: 1.75rem;
		margin-bottom: 1rem;
		font-weight: bold;
		
		@media only screen and (max-width: 768px) {
			text-align: center;
			font-size: 1.5rem;
		}
	}

	h4 {
		font-size: 1.5rem;
		margin-bottom: 1rem;
		font-weight: bold;
	}

	p {
		line-height: 125%;
	}

	.content-container {
		h1 {
			margin: 1.5rem 0;
			font-size: 4rem;
			font-weight: bold;
			
			@media only screen and (max-width: 768px) {
				text-align: center;
				font-size: 3rem;
				margin-bottom: 1rem;
			}
		}

	}
}

a {
	text-decoration: none;
	color: var(--lightColor);
	font-weight: bold;
	font-size: 2rem;
	@media only screen and (max-width: 768px) {
		font-size: 1rem;
	}
	
}