.welcome-container {
	height: calc(100vh - #{$header-height});
	position: relative;
	border-bottom: solid 0.3rem var(--lightColor);
	.title{
		position: absolute;
		bottom: rem-calc(25);
		font-weight: 800;
		line-height: rem-calc(140);
		font-size: rem-calc(160);
		color: var(--lightColor);
		text-transform: uppercase;
		text-align: center;

		@media only screen and (min-width: 768px) and (max-width: 1024px) {
			font-size: rem-calc(80);
		}
		
		@media only screen and (max-width: 768px) {
			font-size: rem-calc(48);
			line-height: 5rem;
		}
	}
}

.about-container {
	display: flex;
	flex-wrap: wrap;
	margin: 3rem auto;
	max-width: rem-calc(960);
	justify-content: space-between;
	font-size: 1.25rem;
	color: var(--lightColor);
	
	.about-tile {
		text-align: center;
		width: rem-calc(130);
		// border-radius: 0.5rem;
		// height: rem-calc(130);
		// box-shadow: 0 0.5rem 0.5rem;
		@media only screen and (max-width: 768px) {
			width: 50%;

			&:nth-child(1), &:nth-child(2) {
				margin-bottom: 32px;
			}
		}

		&:hover {
			// background-color: rgba(195, 195, 216, 0.4);
			transform: scale(1.2, 1.2);
			transition: all .5s ease-in-out;
			cursor: pointer;
		}
	}

	.about-icon {
		width: 5rem;

		@media only screen and (max-width: 768px) {
			width: 4rem;
		}
	}
}

.about-detail-container {
	text-align: center;
	p {
		text-align: left;
		font-size: 1.5rem;
		max-width: rem-calc(960);
		margin: auto;
		margin-bottom: 1rem;
		padding: 0 1rem;
		
		@media only screen and (max-width: 768px) {
			font-size: rem-calc(20);
			// line-height: 5rem;
		}
	}
}

.design-green {
	color: #2ECC71;
}
.sushi-yellow {
	color: #F1C40F;
}