.project-container {
	max-width: 1280px;

	h3 {
		color: var(--lightBtn);
	}

	.project-images {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 1.5rem;

		@media only screen and (max-width: 1024px){
			margin-bottom: 1rem;
		}

		@media only screen and (max-width: 768){
			margin-bottom: 0.5rem;
		}

		img {
			align-self: center;
			width: 47.5%;
			box-shadow: 0px 15px 10px -10px rgba(17, 17, 17, 0.5); 

			@media only screen and (max-width: 1024px) {
				width: 80%;
				margin: 0 auto;
				margin-bottom: 1rem;

				&:last-child {
					margin-bottom: 0;
				}
			}
	
			@media only screen and (max-width: 768px) {
				width: 100%;
				margin: 0 auto;
				margin-bottom: 0.5rem;
			}
		}
	}
	
	.project-title {
		padding: 0 3rem;
		// box-shadow: 0px 15px 10px -20px rgba(17, 17, 17, 0.5); 
	}

	.project-info {
		display: flex;
		padding: 0 3rem;
		box-shadow: 0px 15px 10px -20px rgba(17, 17, 17, 0.5); 

		@media only screen and (max-width: 1024px) {
			flex-wrap: wrap;
		}

		.project-info-p {
			width: 50%;
			font-size: rem-calc(20);
			margin-right: 5%;
			
			@media only screen and (max-width: 1024px) {
				margin: 0;
				width: 100%;
				margin-bottom: 1rem;
				box-shadow: 0px 15px 10px -20px rgba(17, 17, 17, 0.5); 
			}

			@media only screen and (max-width: 768px) {
				font-size: 1rem;
				width: 100%;
				margin-right: 0;
			}

			p {
				margin-bottom: 0.5rem;
			}

			// @media only screen and (min-width: 768px) and (max-width: 1024px) {
			// 	font-size: 1.5rem;
			// }
			
		}

		.project-info-ul {
			font-size: 1.25rem;
			font-weight: bold;

			@media only screen and (max-width: 1024px) {
				text-align: center;
				width: 100%;
				font-size: 1rem;
				font-weight: bold;
				margin: 0;
				margin-bottom: 1rem;
			}

			ul {
				margin-bottom: 2rem;
				line-height: 125%;

				@media only screen and (max-width: 1024px) {
					font-size: rem-calc(20);
					display: flex;
					flex-wrap: wrap;
					width: 50%;
					margin: 0 auto;
					margin-bottom: 1rem;
				}

				@media only screen and (max-width: 768px) {
					font-size: 1rem;
				}
				
			}

			li {
				margin-bottom: rem-calc(4);

				@media only screen and (max-width: 1024px) {
					width: 50%;
				}
			}
			
			a {
				display: hide;
			}
		}
	}

	a:hover {
		text-decoration: underline;
	}

	span {
		color: var(--lightBtn);
		font-weight: bold;
	}
}